* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

@font-face {
    font-family: Montserrat-SemiBold;
    src: url(Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: Montserrat-Bold;
    src: url(Montserrat-Bold.ttf);
}
@font-face {
    font-family: Montserrat-Medium;
    src: url(Montserrat-Medium.ttf);
}
@font-face {
    font-family: Montserrat-Light;
    src: url(Montserrat-Light.ttf);
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(Montserrat-Regular.ttf);
}